[run]
branch = True
data_file = .coverage
source=edx_ace
omit =
    test_settings
    *migrations*
    *admin.py
    *static*
    *templates*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: